* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.container {
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;

}
.toy {
    background-image: url(../images/cook.webp);
}

.cat {
    background-image: url(../images/cat.jpg);
}

.cooking {
    background-image: url(../images/bg.jpeg);
}

.heading {
    color: white;
    padding-top: 5%;
    font-family: sans-serif;
    font-size: 2rem;
    background-clip: content-box;
    background-color: maroon;
}

.list {
    color: white;
    font-size: 3rem;
    font-family: sans-serif;
    width: 50%;
    background-clip: content-box;
    background-color: rgba(0,0,0,0.5);;
    margin: auto;
    padding-top: 5%;    
}

.egg {
    margin-top: 1%;
}

.button {
    border: none;
    background-color: white;
    color: black;
    margin-top: 3%;
    padding: 1% 1%;
    font-size: 1.5rem;
}

.button:hover {
    background-color: red;
    color: white;
    box-shadow: 4px 10px 10px yellow;
}
